@import '../../../_css/common.scss';

.header {
  padding: 1rem 4.5rem;
  width: 100%;
  display: flex;

  @include small-break {
    padding: 1rem 2rem;
  }
}

.logo {
  width: 170px;
}

.hide { 
  display: none;
}
